# This is a udev rules file responsible for running sd-update on thumb drive
# insert on the Pi.  sd-update will be responsible for mounting the thumb drive
# to a reasonable location, checking for an update file, and running the update
# file if necessary.

# ADD rule: if we have a valid ID_FS_LABEL_ENC, and it's USB, mkdir and mount
ENV{ID_FS_LABEL_ENC}=="?*", ACTION=="add", SUBSYSTEMS=="usb", \
         RUN+="/usr/sbin/sd-update %k"